
<div class="outside-container-box">
  <div class="container-box">
    <div class="parent">
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
    <div class="parent2">
      <div class="item5"></div>
      <div class="item5 categories">
        <div class="btn-group">
          <% if @template.title %>
            <%= link_to "Download " + @template.title.capitalize + " Template", @template.image.url(:large, false), :class => "categoryLink" %>
          <% else %>
            <%= link_to "Download Your Image", @template.image.url(:large, false), :class => "categoryLink" %>
          <% end %>
        </div>
      </div>
      <div class="item5 categories">
        <div class="btn-group">
          <%= link_to "Back to Home Page", root_path, :class => "categoryLink" %>
        </div>

      </div>
      <div class="item5"></div>
    </div>
  </div>
</div>
