<div class="outside-container-box">
  <div className="container-box">
    <div class="parent">
      <div class="item"></div>
      <div class="item"><h1 class="startingQ">Upload your image</h1></div>
      <div class="item"></div>
    </div>
    <div class="parent4">
      <div class="item4"></div>
      <div class="item4 categories">
        <div class="btn-group btn-div">
          <%=form_for @template, :html => {:id => @template.id.to_s + "-form"} do |f| %>
            <div class="form-inline">
              <div class="form-group">
                <%= f.label :image, "Image File" %>
                <%= f.file_field :image, class: 'form-control', :id => "file-input"%>
              </div>
              <%= f.submit "Upload Image", :class => "btn btn-info btn-sm" %>
            </div>
          <%end%>
        </div>
      </div>
      <div class="item4"></div>
    </div>
  </div>
</div>
