<div class="outside-container-box">
  <div className="container-box">
    <div class="parent">
      <div class="item"></div>
      <div class="item"><h1 class="startingQ">WHAT WOULD YOU LIKE TO DO?</h1></div>
      <div class="item"></div>
    </div>
    <div class="parent4">
      <div class="item4"></div>
      <div class="item4 categories">
        <div class="btn-group btn-div">
          <a href="/designers" class="categoryLink">Download Designers Template</a>
          <!-- <a class="categoryLink" href={fileDownload}>I have Photoshop</a> -->
          <a href="#" class="categoryLink">Upload and Crop Image</a>
        </div>
      </div>
      <div class="item4"></div>
    </div>
  </div>
</div>
