<div class="intro">
  <h1>Digital Resources</h1>

<br>
  <% if current_user %>
  <h3>Welcome <%= current_user.username %></h3>
  <% end %>

  <%=link_to "Sign Up", new_user_registration_path, class:"intro-links" %>

  <%=link_to "Go To Admin Page", new_user_session_path, class:"intro-links" %>
  <% if current_user %>
  || <%=link_to "Logout", destroy_user_session_path(@user), :method => "delete", class:"intro-links" %>
  <% end %>

</div>
