<div class="outside-container-box">
  <div className="container-box">
    <div class="parent">
      <div class="item"></div>
      <div class="item"><h1 class="startingQ">WHAT WOULD YOU LIKE TO DO?</h1></div>
      <div class="item"></div>
    </div>
    <div class="parent4">
      <div class="item4"></div>
      <div class="item4 categories">
        <div class="btn-group btn-div">
<<<<<<< HEAD
          <a href="/designers" class="categoryLink">Download Designers Template</a>
          <!-- <a class="categoryLink" href={fileDownload}>I have Photoshop</a> -->
          <%= link_to "Upload and Crop Image", new_template_path, :class => "categoryLink" %>

        </div>
      </div>
      <div class="item4"></div>
=======
          <a href="/designers" class="categoryLink">Download A Design Template</a>
          <a href="#" class="categoryLink marginLink">Crop An Image</a>
        </div>
      </div>
      <div class="item4"></div>
>>>>>>> 2f82ae643ed95c3747e7459eaae7ad259e1e1548
    </div>
  </div>
</div>
