@import "bootstrap-sprockets";
@import "bootstrap";

.img-thumb {
  max-height: 30px;
}

.Social {
  background-color: #B2EBF2;

}

.Website {
  background-color: #4DD0E1;

}

.Advertising {
  background-color: #00BCD4;

}
