/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "jquery.Jcrop";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto+Condensed');

// admin page
.img-thumb {
  width: 80px;
  height: 80px;
  // max-height: 50px;
}

.landingCategoryImage {
  max-width: 160px;
}

.white-font {
  color: white;
}
th{
	color:black;
	background: white;
}
// categories
.Social {
  background-color: #B2EBF2;
}

.Image {
  background-color: #4DD0E1;
}

.Ad {
  background-color: #00BCD4;
}

.form-center {
  text-align: center;
  font-weight: bolder;
}

.inline-glyph {
  display: inline;
}

// front-end
.devise-buttons{
	color:black;
}

.intro{
	color:white;
}
.intro-links{
	color:white;
}
.intro-links:hover{
	color:white;
}

html, body {
  height: 100%;
	// color:white;
}

body {
  background-image: url("/assets/Background.jpg");
}
.container-flex{
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.react-container{
  align-self: center;
  background: white;
	min-height: 468px;
}

.file-send-div {
  text-align: center;
  margin-top: 30%;
}

.outside-container-box {
  display:flex;
	background: white;
  justify-content: center;
  width: 800px;
  padding-top: 40px;
  padding-bottom: 60px;
	min-height: 468px;
	align-items: center;
}
.container-box{

}

.parent {
  display: flex;
}
.item{
  background: white;
  color: #F1592A;
  margin: 5px;
  text-align: center;
  /*line-height: 50px;*/
  font-weight: 600;
  width: 20%;
}
.item:nth-child(2) {
  flex-grow: 2;
  width: 70%;
}
.startingQ{
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  font-style:normal;
  font-kerning: -66px;
  line-height: 0.80;
  font-size: 60px;
  color: #F1592A;
}

.parent2 {
  display: flex;
}
.item2{
  background: white;
  color: #F1592A;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  width: 20%;
}
.item2:nth-child(2) {
  flex-grow: 2;
  width: 60%;
}

.parent3 {
  display: flex;
}
.item3 {
  background: white;
  margin: 5px;
  line-height: 50px;
  font-weight: 600;
  text-align: center;
  width: 38%;
}
.categoryLink {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-radius: 25px;
  color: white;
  background-color: #F1592A;
  font-size: 15px;
  padding-right: 20px;
  padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
}
.categoryLink:hover {
  color: white;
}
.marginLink{
	margin-left: 10px;
}

.parent4 {
  display: flex;
}
.item4{
  background: white;
  // color: #F1592A;
  color: black;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  font-weight: 600;
  width: 20%;
}
.item4:nth-child(2) {
  flex-grow: 2;
  width: 60%;
}

// .admin-container{
// 	display: flex;
// 	align-content: center;
// 	justify-content: center;
// }
// .item5{
// margin-left: 20px;
// margin-right: 20px;
//
// }

.btn-group{
	padding:5px;
}

// back link
.glyphicon, .glyphicon-arrow-left {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: rgba(241, 89, 42, .3);
  cursor: pointer
}
.list-group-item {
  border: 1px solid rgba(241, 89, 42, .6);
}

.minimal-template-description {
  line-height: 20px;
}
.list-container{
	// overflow:scroll;
	min-height: 468px;
}

.overflow{
	overflow-y: scroll;
	max-height: 468px;
}
