
@import "jquery.Jcrop";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto+Condensed');

.img-thumb {
  width: 80px;
  height: 80px;
  // max-height: 50px;
}

.landingCategoryImage {
  max-width: 160px;
}

.Social {
  background-color: #B2EBF2;

}

.Image {
  background-color: #4DD0E1;

}

.Ad {
  background-color: #00BCD4;

}

.form-center {
  text-align: center;
  color: #323299;
  font-weight: bolder;
}

.inline-glyph {
  display: inline;
}


// front-end

body {
  background-image: url("/assets/Background.jpg");
}


.try{
  justify-content: center;
  display: flex;
}

.pageBox{
  background-color: white;
  // mockup-width 945 pt
  width: 1260px;
  //  mockup-height 745pt
  // height: 993.33px;
}

.startingQ{
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  // regular
  font-style:normal;
  //  mockup-tracking -50pt
  font-kerning: -66px;
  //  mockup-leading 80.25pt
  line-height: 107px;
  font-size: 60px;
  color: #F1592A;
}

.container-item {
  border: 2px solid black;
  margin: 2px;
  width: 32%;
  min-width: 175px;
  padding: 5px;
  color: #F1592A;
  // moves them to center
  justify-content: center;

  display: flex;
}

.itemList {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
}

.pageContent {
  display: flex;
  justify-content: space-around;
  // flex-wrap:wrap;

}
.categoryButton {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  border-radius: 25px;
  color: white;
  background-color: #F1592A;
  font-size: 15px;
  padding-right: 20px;
  padding-left: 20px;
}
