categories admin_index page

<% if current_user.username == "AlphaAdmin"%>
  <ol>
    <% @categories.each do |cat| %>
      <li>
        <p>
          <%= cat.name %> - <%= cat.description %>
          <ul>
            <% cat.templates.each do |temp| %>
              <li><%= temp.title %> - <%= temp.description %></li>
            <% end %>
          </ul>
        </p>
      </li>
    <% end %>
  </ol>
<%end %>
