<div class="admin-container">
  <div class="parent">

    <div class="item5">
      <%=link_to "Log Out", destroy_user_session_path(@user), :method => "delete", class:"login-links pull-right" %>
      <h3 class="form-center white-font">Add a new Template</h3>
      <%= render "templates/form", {data: @template} %>
    </div>
  </div>
  <div class="parent2">
    <div class="item5">
      <%= react_component 'Templates', { data: [@categories, @templates] } %>
    </div>
  </div>
</div>
