
<div class="container">
  <h3 class="form-center white-font">Add a new Template</h3>
  <%= render "templates/form", {data: @template} %>
</div>
<div class="container">
  <%= react_component 'Templates', { data: [@categories, @templates] } %>
</div>
